<header class="header-main">
    <!-- LOGO samt knappar för kassa och wishlist -->
    <div class="header-logo-search">
        <a href="/"> <img src="https://placehold.co/400x200.png" alt="logo" class="logo"></a>
        <div class="search-bar">
            <form action="/search" method="GET">
                <input type="text" name="q" placeholder="Sök produkt" value="<%= typeof query !== 'undefined' ? query : '' %>">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div class="header-buttons">
                <a href="/cart"> <i class="fa-solid fa-cart-shopping"></i></a>
                <i class="fa-solid fa-heart"></i>
            </div>
        </div>
    </div>
    <nav>
        <ul class = "nav-links">
            <li><a href="#">Nyheter</a></li>
            <li><a href="#">Bästsäljare</a></li>
            <li><a href="#">Kvinnor</a></li>
            <li><a href="#">Män</a></li>
        </ul>
    </nav>
</header>