<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freaky Fashion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="stylesheets\style.css">
    <script>
    </script>
    
</head>
<body>
    <%- include('partials/header') %>
    
    <main>
        <section class="hero">
            <img src="images/tshirt.jpg" alt="Hero">
            <div class="hero-text">
                <h2>Stil för alla</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos accusantium excepturi perferendis molestiae quia saepe beatae. Tempore, inventore perspiciatis est labore facere sunt corporis. Quo minima sed pariatur aliquid magnam!</p>
            </div>
        </section>
        <section class="spots">
            <div class="spot">
                <img src="images/tshirt.jpg" alt="Spot 1">
                <div class="spot-text">
                    <h2>Jackor</h2>
                    <p>Stiliga jackor för alla tillfällen</p>
                </div>
            </div>
            <div class="spot">
                <img src="images/tshirt.jpg" alt="Spot 2">
                <div class="spot-text">
                    <h2>Accessoarer</h2>
                    <p>Stiliga accessoarer för alla tillfällen</p>
                </div>
            </div>
            <div class="spot">
                <img src="images/tshirt.jpg" alt="Spot 3">
                <div class="spot-text">
                    <h2>Skor</h2>
                    <p>Stiliga skor för alla tillfällen</p>
                </div>
            </div>
        </section>
        <section class="products">
            <h2>Populära Produkter</h2>
            <div class="product-grid">  
               <% const shuffledProducts = products.sort(() => 0.5 - Math.random());
               shuffledProducts.slice(0, 8).forEach(product => { 
               %>
                 <%- include('partials/product-card', { product }) %>
               <% }) %>
                
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>